/*
 * @file
 * Sass mixins for the theme.
 */

// Clearfix Tool
@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media Queries
@mixin narrow {
  @media (min-width: 600px) {
    @content;    
  }
}
@mixin wide {
  @media (min-width: 1000px) {
    @content;    
  }
}
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) { 
    @content;    
  }
}
