{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% if page.header %}
  <header class="header">
    {{ page.header }}
  </header>
{% endif %}

<main class="main">

  <section class="content">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </section>

  {% if page.sidebar %}
    <aside class="sidebar">
      {{ page.sidebar }}
    </aside>
  {% endif %}

</main>

{% if page.footer %}
  <footer class="footer">
    {{ page.footer }}
  </footer>
{% endif %}
